.cartContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  max-width: 100%;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1100;
  padding: 1rem;
  overflow-y: auto;
}

.cartContainer.open {
  transform: translateX(0);
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.titleCarrito {
  text-align: start;
  padding: 2rem;
  padding-bottom: 16px;
  color: rgb(32, 106, 243);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cartContainer::-webkit-scrollbar {
  width: 16px;
}

.cartContainer::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.603);
  border-radius: 10px;
  border: 4px solid white;
}

.cartContainer::-webkit-scrollbar-track {
  background: transparent;
}

.cartContainer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 4rem;
  flex-direction: column;
}


.cartContainer li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 80%;
  padding: 16px 0;
  box-sizing: content-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cartContainer li div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cartContainer img {
  height: 100%;
}

.imgContainer {
  height: 100%;
  width: 80px;
}

.infoProducts {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.customBtn {
  transition: all 0.3s ease;
}

.customBtn:hover {
  color: rgb(255, 0, 0) !important;
}

.customBtnBgRed{
  transition: all 0.3s ease;
}

.customBtnBgRed:hover {
  background-color: rgb(255, 0, 0) !important;
  border: 1px solid rgb(255, 0, 0) !important;;
}

.grayBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

.grayBackground.show {
  opacity: 1;
  visibility: visible;
}