.container {
    background-color: white;
    border: 1px solid rgb(209, 208, 208);
    color: rgb(58, 57, 57);
    border-radius: 10px;
    width: 300px;
    height: 480px;
    padding: 15px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.imgContainer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 1rem;
    box-sizing: border-box;
}

.img {
    height: 100%;
}

.button {
    color: black;
    background-color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    border: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}


.btnRestSum {
    transition: all 0.3s ease;
    margin-right: -1px !important;
    -webkit-tap-highlight-color: transparent; /* elimina tap highlight en móviles */
}

.btnRestSum:hover {
    background-color: black !important;
    color: white !important;
    border: 1px solid black !important;
}

/* Esto desactiva hover simulado en pantallas táctiles */
@media (hover: none) {
  .btnRestSum:hover,
  .btnRestSum:active,
  .btnRestSum:focus,
  .button:hover,
  .button:active,
  .button:focus {
    background-color: inherit !important;
    color: inherit !important;
    border-color: transparent !important;
    pointer-events: none !important;
  }
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    height: 2.5rem;
    overflow: hidden;
}