.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    padding: 4rem;
    border-radius: 8px;
    gap: 2rem;
    margin-top: 5rem;
}

.navLogin {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5rem;
    width: 100%;
    height: 4rem;
    background-color: black;
    color: white !important;
    font-family: cursive;
    font-size: 2rem;
    position: fixed;
    top: 0;
}

.namePage {
  font-family: cursive;
  text-decoration-line: none;
  color: white !important;
  font-size: 2rem ;
  font-weight: bold;
}

.namePage:hover {
  color: #49d3fd !important;
  transition: all 0.3s ease;
}

.containerPadre {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.btnBrand {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    transition: all 0.3s ease;
    border: transparent;
}

.btnBrand:hover {
    border: transparent;
    color: #49d3fd;
}

.input {
    background-color: aliceblue;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    color: black;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset; /* fondo blanco */
  -webkit-text-fill-color: black;               /* texto negro */
  transition: background-color 5000s ease-in-out 0s;        /* truco para prevenir parpadeo */
}

.spanInputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.enterBtn {
    background-color: rgb(61, 61, 61);
    border: none;
    transition: all 0.3s ease;
    border-radius: 8px;
}

.enterBtn:hover {
    border: none;
    color: #49d3fd;
}