#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
  /* padding-top: 5rem; */
}

.font-cursive {
  font-family: cursive;
}

.link-lightBlue:hover,
.link-lightBlue:focus {
  color: #49d3fd !important;
}